form {
    margin-left:10px;
}

h3 {
    margin-bottom: 20px;
}

.body-container {
    min-height: 100vh;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}