{% extends "login/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'login/home.css' %}">
  
<div class="root-container">
  <span class="study-together">
    Let's study together.
  </span>
  <div class="homepage-card">
    {% if hasProfile == False %}
      <span class="homepage-card-body">First, why don't you tell us a bit about yourself?</span>
      <a href="{% url 'userAccount:has_account' %}">
        <button type="button" class="btn btn-primary btn-lg profile-button">
          Create A Profile
        </button>
      </a>
    {% else %}
      <span class="homepage-card-body">Are you ready to meet your new study buddies?</span>
      <a href="{% url 'find:index' %}">
        <button type="button" class="btn btn-primary btn-lg profile-button">
          Explore
        </button>
      </a>
    {% endif %}
  </div>
</div>
{% endblock %}