{% load static %}
{% load socialaccount %}
<style>
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
  }
  </style>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'login/custom.css' %}">
    <title>Login</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">Virtual Study Buddy</a>
    </nav>
    <br>

    <div class=login-container>

      {% if user.is_authenticated %}
      <meta http-equiv="refresh" content="0.01; URL='{% url 'login:home' %}'" />
      {% else %}
      <div class="root-container">
        <div class="text-wrapper">
          <span class="login-main-text welcome">
            Welcome
          </span>
          <span class="login-main-text welcome-body">
            To Your New Favorite
          </span>
          <span class="login-main-text welcome-body">
            Study Space
          </span>
          <div class="button-container">
            <a href="{% provider_login_url 'google' %}">
              <button type="button" class="btn btn-primary btn-lg sign-in-button">
                Sign In With Google
              </button>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>