{% extends "login/base.html" %}
{% block content %}
      <br>
      <div class="container">
        {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <h2>Edit account information below and click Update to update</h2>
        <h3>Email: {{ email }}</h3>
        <form action="{% url 'userAccount:save' %}" id = "account_form" method="post">
            {% csrf_token %}
          <div class="form-group">
            <label for="acc_name">Name</label>
            <input type="text" class="form-control" id="acc_name" value="{{ acc_name }}" name = "acc_name">
            <label for="acc_major">Major</label>
            <input type="text" class="form-control" id="acc_major" value="{{ acc_major }}" name = "acc_major">
            <label for="acc_bio">Bio</label>
            <input type="text" class="form-control" id="acc_bio" value="{{ acc_bio }}" name = "acc_bio">
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
      <br>

      <div class="container">
        {% if courses %}
        <div class="list-group">
          {% for course in courses %}
          <form action="{% url 'userAccount:delete_course' %}" id = "delete_course" method="post">
            {% csrf_token %}
            <li class="list-group-item"><span class="badge badge-primary">{{ course.mnemonic }}{{ course.number }}</span><button type="submit" name="delete_item" value="{{ course.pk }}">X</button></li>
          </form>
          {% endfor %}
        </div>
        {% else %}
        <div class="container">
        <p>No courses have been added to the account.</p>
      </div>
      <br>
      {% endif %}
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <a class="btn btn-primary" href="{% url 'userAccount:course_form' %}">Add a class</a>
        <a class="btn btn-success" href="{% url 'userAccount:has_availability' %}">Set My Availability</a>
      </div>
      </div>
      <br>
{% endblock %}