{% extends "login/base.html" %}
{% load static %}
{% load userAccount_extras %}
{% load socialaccount %}

{% block content %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'userAccount/availability.css' %}">
    <title>Availability</title>
    <script>
        const numRows = 7 * 16;

        let main = [];
        for (let i = 0; i < numRows; i++) {
            main.push(false);
        }
        let temp = [];

        let anchor = null;

        // Mode 1 is add, 2 is remove
        let mode = 0;

        window.addEventListener('load', (event) => {
            loadCalendar("{{ calendar }}");
        });

        function loadCalendar(encodedCal) {
            console.log(encodedCal);
            for (let i = 0; i < encodedCal.length; i++) {
                if (i >= main.length) break;

                if (encodedCal.charAt(i) === "0") {
                    main[i] = false;
                } else {
                    main[i] = true;
                }
            }
            applyClasses(main);
        }

        function encodeCalendar() {
            let enc = "";
            for (let i = 0; i < main.length; i++) {
                if (main[i]) {
                    enc += "X";
                } else {
                    enc += "0";
                }
            }
            return enc;
        }

        function onMouseDown(element) {
            document.onselectstart = function(){ return false; }
            id = parseInt(element.id);
            if (main[id]) {
                mode = 2;
            } else {
                mode = 1;
            }
            anchor = id;
            main[id] = !main[id];
            temp = Object.assign([], main);
            applyClasses(main);
        }

        function onMouseOver(element) {
            id = parseInt(element.id);
            if (mode == 0 || !isValid(id)) return;

            temp = Object.assign([], main);

            if (id > anchor) {
                for (let i = anchor + 1; i <= id; i++) {
                    temp[i] = mode == 1;
                }
            } else if (id < anchor) {
                for (let i = id; i < anchor; i++) {
                    temp[i] = mode == 1;
                }
            }
            applyClasses(temp);
        }

        document.addEventListener('mouseup', function () {
            if (anchor) {
                document.onselectstart = function(){ return true; }
                anchor = null;
                mode = 0;
                main = Object.assign([], temp);
            }
        }, false)

        function isValid(id) {
            if (anchor == null) return;
            let anchorResult = Math.floor(anchor / 16);
            let idResult = Math.floor(id / 16);
            return anchorResult == idResult;
        }

        function applyClasses(values) {
            for (let i = 0; i < numRows; i++) {
                let element = document.getElementById(i);
                element.classList.remove("green");
                if (values[i]) {
                    element.classList.add("green");
                }
            }
        }

        function reset() {
            anchor = null;
            mode = 0;
            main = [];
            for (let i = 0; i < numRows; i++) {
                main.push(false);
            }
            temp = Object.assign([], main);
            applyClasses(main);
        }

        function postAvailability() {
            const new_cal = encodeCalendar();
            let post_data = { 'calendar': new_cal, 'csrfmiddlewaretoken': '{{ csrf_token }}' };
            $.post("{% url 'userAccount:save_availability' %}", post_data, function(data, status) { console.log(status)});
        }
    </script>
  </head>
  <div>
    <div class="root-container">
        <div class="main-container">
            <div class="availability-wrapper">
                <span class="availability-title">{{ user.username|title }}'s Weekly Availability</span>
                <div class="availability-container">
                    <div class="day-container">
                        {% for time in times %}
                            <div class="time-block"><span>{{ time }}</span></div>
                        {% endfor %}
                    </div>
                    {% for day in days %}
                        <div class="day-container">
                            {% for j in range16 %}
                                <div
                                    id="{{ forloop.parentloop.counter|add:-1|multiply:16|add:j }}"
                                    onmouseover="onMouseOver(this)" 
                                    onmousedown="onMouseDown(this)" 
                                    class="hour-block">
                                </div>
                            {% endfor %}
                            <span class="day-text">{{ day }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="sidebar">
                <div class="sidebar-top">
                    <span class="sidebar-title">
                        When are you available to study?
                    </span>
                    <p><em>Click and drag to set your weekly availability. Don’t worry if it will change from week to week, just try your best to give a rough estimate.</em></p>    
                </div>
                <div class="sidebar-bottom">
                    <a onclick="reset()"><button class="btn btn-outline-danger avail-btn">Clear</button></a>
                    <a onclick="postAvailability()"><button class="btn btn-success avail-btn">Save</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-nav-wrapper">
        <div class="bottom-nav-container">
            <a href="{% url 'userAccount:view_account' %}"><span class="bottom-nav-link">Back to Profile</span></a>
            <a href="{% url 'find:index' %}"><span class="bottom-nav-link">Find Study Buddies</span></a>
        </div>
    </div>
</div>
{% endblock %}