{% extends "login/base.html" %}
{% load static %}
{% load userAccount_extras %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'userAccount/buddies.css' %}">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
  {{ form.media }}
  <title>Your Buddies</title>
  <script>
    const numRows = 7 * 16;
    let availData = {};
    let main = [];
    for (let i = 0; i < numRows; i++) {
        main.push(false);
    }

    let prevNumMessages = 0;
    let convoLock = false;
    let headerIsExpanded = false;

    let idleTime = 0;
    let sleep = false;

    window.addEventListener("load", () => {

      window.setInterval(function(){
        GETConvo();
      }, 1000);

      window.setInterval(timerIncrement, 10000); // 10 sec

      //Zero the idle timer on mouse movement.
      $(document).mousemove(function (e) {
          idleTime = 0;
          timerIncrement();
      });
      $(document).keypress(function (e) {
          idleTime = 0;
          timerIncrement();
      });

      $("#message-textarea").bind("input", (event) => {
        autoResize(event.target);
      });

      $("#message-container").bind('wheel', function(e)  {
          noParentScroll($(this), e);
      });

      $("#message-textarea").bind('wheel', function(e)  {
          noParentScroll($(this), e);
      });

      $('label[for="id_datetime_field"]').hide ();

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    });

    function timerIncrement() {
      idleTime++;
      if (idleTime > 11) { // 2 min
          if (!sleep) console.log("sleeping");
          sleep = true;
      } else {
          if (sleep) console.log("waking");
          sleep = false;
      }
    }

    function noParentScroll(t, e) {
        if (e.originalEvent.deltaY <= 0 && t.scrollTop() === 0) {
            e.preventDefault();
        }
        else if (e.originalEvent.deltaY >= 0 && t.scrollTop() == t.get(0).scrollHeight - t.innerHeight()) {
            e.preventDefault();
        }
    }

    function openModal(yourCal, theirCal, theirName, theirLastName) {
        availData = {
            'yourCal': yourCal,
            'theirCal': theirCal,
            'theirName': theirName
        }
        document.getElementById("combined_avail").checked = true;
        document.getElementById("modalTitle").innerHTML = theirName + " " + theirLastName + "'s Availability";
        document.getElementById("their-avail-label").innerHTML = theirName + " Is Available";
        document.getElementById("combined-avail-label").innerHTML = "Both You And " + theirName + " Are Availabile";
        document.getElementById("avail-header").innerHTML = "Both You And " + theirName + " Are Availabile";

        loadCalendar(combinedCal(yourCal, theirCal), "dark-green");
        $('#myModal').modal('show');
    }

    function combinedCal(yourCal, theirCal) {
        let combined = "";
        for (let i = 0; i < yourCal.length; i++) {
            if (yourCal.charAt(i) !== "0" && theirCal.charAt(i) !== "0") {
                combined += "X";
            } else {
                combined += "0";
            }
        }
        return combined;
    }

    function loadCalendar(encodedCal, className) {
        for (let i = 0; i < encodedCal.length; i++) {
            if (i >= main.length) break;

            if (encodedCal.charAt(i) === "0") {
                main[i] = false;
            } else {
                main[i] = true;
            }
        }
        applyClasses(main, className);
    }

    function applyClasses(values, className) {
        for (let i = 0; i < numRows; i++) {
            let element = document.getElementById(i);
            element.classList.remove("dark-green");
            element.classList.remove("purple");
            element.classList.remove("teal");
            if (values[i]) {
                element.classList.add(className);
            }
        }
    }

    function availSelector(selection) {
        console.log(availData);
        switch(selection) {
            case "Both":
                document.getElementById("avail-header").innerHTML = "Both You and " + availData.theirName + " Are Availabile";
                loadCalendar(combinedCal(availData.yourCal, availData.theirCal), "dark-green");
                return;
            case "Theirs":
                document.getElementById("avail-header").innerHTML = availData.theirName + " Is Availabile";
                loadCalendar(availData.theirCal, "purple");
                return;
            case "Yours":
                document.getElementById("avail-header").innerHTML = "You Are Availabile";
                loadCalendar(availData.yourCal, "teal");
                return;
        }
    }

    function toggleChatHeader() {
        const el = document.getElementById("chatBody");
        if (el.classList.contains("collapsing")) return;

        if (!el.classList.contains("show")) {
          headerIsExpanded = true;
          document.getElementById("chatHeader").classList.add("chat-header-expanded");
          const messageContainer = document.getElementById("message-container");
          setTimeout(() => messageContainer.scrollTop = messageContainer.scrollHeight, 50);
        } else {
          headerIsExpanded = false;
          updateNotification(null);
          document.getElementById("chatHeader").classList.remove("chat-header-expanded");
        }
    }

    function autoResize(target) {
        const wrapper = document.getElementById("message-field");
        if (target.scrollHeight > 82) {
          return;
        } else if (target.scrollHeight > 33) {
          target.style.height = 'inherit';
          wrapper.style.height = 'min-content';
        }

        target.style.height = (target.scrollHeight + 4) + 'px';

        if (target.scrollHeight === 58) {
          wrapper.style.height = (target.scrollHeight + 48) + 'px';
        } else if (target.scrollHeight === 82) {
          wrapper.style.height = (target.scrollHeight + 72) + 'px';
        }
    }

    function constructFromMsg(msg) {
        let s = '<div class="from-message-wrapper"><div class="from-message">';
        return s + msg + '</div></div>';
    }

    function constructToMsg(msg) {
        let s = '<div class="to-message-wrapper"><div class="to-message">';
        return s + msg + '</div></div>';
    }

    function onMessageKeyPress(event) {

      // If the user has pressed enter
      if (event.keyCode === 13) {
          event.stopPropagation();
          event.preventDefault();
          sendMessage();
      }
    }

    function GETConvo() {
      if (sleep || '{{ selected_buddy.user.username }}'.length === 0) return;

      const readMode = headerIsExpanded ? 'read' : 'peek';

      $.get( "/profile/convo/" + '{{ selected_buddy.user.username }}' + '/' + readMode, function( data ) {
        console.log('updated');
        updateConvo(data.conversation, data.numMessages);
        updateNotification(data.numUnread);
      });
    }

    function updateConvo(c, num) {
        if (!convoLock) {
          convoLock = true;

          const container = document.getElementById("message-container");
          let s = container.innerHTML;
          let updated = false;

          // Sort by sequence
          c = c.sort((a, b) => a.sequence < b.sequence ? -1 : 1);

          for (let i = prevNumMessages; i < num; i++) {
            updated = true;
            if (c[i].left) {
              s += constructFromMsg(c[i].content);
            } else {
              s += constructToMsg(c[i].content);
            }
          }
          container.innerHTML = s;
          prevNumMessages = num;
          const messageContainer = document.getElementById("message-container");
          setTimeout(() => {
            if (updated) {
              messageContainer.scrollTop = messageContainer.scrollHeight;
            }
          }, 300);

          convoLock = false;
        }
    }

    function updateNotification(numUnread) {
        if (headerIsExpanded) {
            document.getElementById("message-badge").style.opacity = 0;
        } else {

          if (numUnread > 0) {
            document.getElementById("message-badge").style.opacity = 1;
            document.getElementById("inner-message-badge").innerHTML = numUnread;
          } else {
            document.getElementById("message-badge").style.opacity = 0;
          }
        }
    }

    function sendMessage() {
      if (!document.getElementById("message-textarea").value.trim() || '{{ selected_buddy.user.username }}'.length === 0) {
        return;
      }
      const body = {
        'buddy_name': '{{ selected_buddy.user.username }}',
        'content': document.getElementById("message-textarea").value,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      }
      $.post("{% url 'userAccount:new_msg' %}", body, function(data, status) {
        if (status === "success") {
          GETConvo();
          document.getElementById("message-textarea").value = '';
        }
      });
    }
  </script>
</head>
<body>
  <div class="container">
    <div id="row" class="row">
      <div class="col-md-6 left-col">

        <span class="buddies-header">My Buddies</span>
        <div>
          {% if accepted_buddies %}
            <div class="list-group">
              {% for buddy in accepted_buddies %}
                {% if buddy == selected_buddy %}
                  <a href="{% url 'userAccount:buddy_select' buddy.user.username %}" class="list-group-item list-group-item-action outlined"><span>{{ buddy }}</span></a>
                {% else %}

                  {% if buddies_with_notifications|has_item:buddy.user %}
                    <a href="{% url 'userAccount:buddy_select' buddy.user.username %}" class="list-group-item list-group-item-action">
                      <span>{{ buddy }}</span><div class="unread-badge"><span>{{ buddy_num_notifications|get_item:buddy.user }}</span></div>
                    </a>
                  {% else %}
                    <a href="{% url 'userAccount:buddy_select' buddy.user.username %}" class="list-group-item list-group-item-action"><span>{{ buddy }}</span></a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          {% else %}
            <p>No Accepted Buddies</p>
          {% endif %}
        </div>
        <span class="buddies-subheader">Pending Your Approval</span>
        <div>
          {% if pending_your_approval %}
            <div class="list-group">
              {% for buddy in pending_your_approval %}
                {% if buddy == selected_buddy %}
                  <a href="{% url 'userAccount:buddy_select' buddy.user.username %}" class="list-group-item list-group-item-action outlined"><span>{{ buddy }}</span></a>
                {% else %}
                  
                  {% if buddies_with_notifications|has_item:buddy.user %}
                    <a href="{% url 'userAccount:buddy_select' buddy.user.username %}" class="list-group-item list-group-item-action">
                      <span>{{ buddy }}</span><div class="unread-badge"><span>{{ buddy_num_notifications|get_item:buddy.user }}</span></div>
                    </a>
                  {% else %}
                    <a href="{% url 'userAccount:buddy_select' buddy.user.username %}" class="list-group-item list-group-item-action"><span>{{ buddy }}</span></a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          {% else %}
            <p>No Requests Pending</p>
          {% endif %}
        </div>
        <span class="buddies-subheader">Pending Their Approval</span>
        <div>
          {% if pending_their_approval %}
            <div class="list-group">
              {% for buddy in pending_their_approval %}
                {% if buddy == selected_buddy %}
                  <a href="{% url 'userAccount:buddy_select' buddy.user.username %}" class="list-group-item list-group-item-action outlined"><span>{{ buddy }}</span></a>
                {% else %}
                  
                  {% if buddies_with_notifications|has_item:buddy.user %}
                    <a href="{% url 'userAccount:buddy_select' buddy.user.username %}" class="list-group-item list-group-item-action">
                      <span>{{ buddy }}</span><div class="unread-badge"><span>{{ buddy_num_notifications|get_item:buddy.user }}</span></div>
                    </a>
                  {% else %}
                    <a href="{% url 'userAccount:buddy_select' buddy.user.username %}" class="list-group-item list-group-item-action"><span>{{ buddy }}</span></a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          {% else %}
            <p>No Requests Pending</p>
          {% endif %}
        </div>
        </div>
        {% if selected_buddy %}
          <div class="col-md-6 right-col">
            <span class="buddies-header">{{ selected_buddy.first_name }} {{ selected_buddy.last_name }}</span>
            {% if number_buddies == 1 %}
              <span class="buddies-subtitle">{{ selected_buddy.major }} Major &#183; {{ number_buddies }} Study Buddy</span>
            {% else %}
                <span class="buddies-subtitle">{{ selected_buddy.major }} Major &#183; {{ number_buddies }} Study Buddies</span>
            {% endif %}

            <p>{{ selected_buddy.bio }}</p>

            <div class="accordion" id="chatAccordian">
              <div class="chat-wrapper">
                <div
                  class="chat-header" 
                  id="chatHeader" 
                  data-toggle="collapse"
                  data-target="#chatBody" 
                  aria-expanded="false" 
                  aria-controls="chatBody"
                  onclick="toggleChatHeader()"
                  >
                  <div class="chat-header-left">
                    <img id="chat-icon" src="{% static 'userAccount/images/chat.svg' %}" class="chat-icon"/>
                    <span class="chat-header-text">Messages</span>
                  </div>
                  <div id="message-badge" class="unread-badge message-unread-badge"><span id="inner-message-badge"></span></div>
                </div>
                <div id="chatBody" class="collapse" aria-labelledby="chatHeader" data-parent="#chatAccordian">
                  <div class="chat-body">
                    <div id="message-container" class="message-container">
                      <!-- Will be filled by JS -->
                    </div>
                    <div id="message-field" class="message-field">
                      <textarea
                        id="message-textarea" 
                        rows="1" 
                        placeholder="Message" 
                        class="message-field-textarea"
                        onkeypress="onMessageKeyPress(event)"
                        ></textarea>
                      <img id="send-icon" onclick="sendMessage()" src="{% static 'userAccount/images/send.svg' %}" class="send-icon"/>
                    </div>
                  </div>
                </div>
              </div>
            </div> 

            <span class="buddies-subheader">Shared Courses</span>
            <div class="courses-container">
              {% for course in shared_courses %}
                <span class="course-chip">{{ course.mnemonic }} {{ course.number }}</span>
              {% endfor %}
            </div>

            {% if selected_buddy in pending_your_approval %}
              <div class="contact-info-header">
                <span class="buddies-subheader">Contact Info</span> 
                <img src="{% static 'userAccount/images/padlock.png' %}" class="padlock-icon"/>
              </div>
              <i>Contact info will be available after the request is approved.</i>
              <span class="compare-availability">
                <span
                  class="compare-availability-text"
                  onclick='openModal("{{ user_availability }}", "{{ buddy_availability }}", "{{ selected_buddy.first_name }}", "{{ selected_buddy.last_name }}")'
                  >
                  Compare Availability
                </span>
              </span>
              <div class="buddy-footer">
                <div class="buddy-form">
                  <form action="{% url 'userAccount:approve_buddy' %}" id = "approve_buddy" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" name="approve_item" value="{{ selected_buddy.pk }}">Approve</button>
                  </form>
                  <form action="{% url 'userAccount:deny_buddy' %}" id = "deny_buddy" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger deny-button" name="deny_item" value="{{ selected_buddy.pk }}">Deny</button>
                  </form>
                </div>
              </div>
            {% elif selected_buddy in pending_their_approval %}
              <div class="contact-info-header">
                <span class="buddies-subheader">Contact Info</span> 
                <img src="{% static 'userAccount/images/padlock.png' %}" class="padlock-icon"/>
              </div>
              <i>Contact info will be available after the request is approved.</i>
              <span class="compare-availability">
                <span
                  class="compare-availability-text"
                  onclick='openModal("{{ user_availability }}", "{{ buddy_availability }}", "{{ selected_buddy.first_name }}", "{{ selected_buddy.last_name }}")'
                  >
                  Compare Availability
                </span>
              </span>
              <div class="buddy-footer">
                <span class="pending-their-approval-text">This request is pending {{ selected_buddy.first_name }}'s approval</span>
              </div>
            {% else %}
              <span class="buddies-subheader">Contact Info</span>
              <div class="contact-info-container">
                <div class="contact-info-row">
                  <span class="contact-info-label">Computing Id</span>
                  <span class="contact-info-data">{{ selected_buddy.computing_id }}</span>
                </div>
                <div class="contact-info-row">
                  <span class="contact-info-label">Phone Number</span>
                  <span class="contact-info-data">{{ selected_buddy.phone_number }}</span>
                </div>
                <div class="contact-info-row">
                  <span class="contact-info-label">Discord Username</span>
                  <span class="contact-info-data">{{ selected_buddy.discord_name }}</span>
                </div>
              </div>
              {% if meeting %}
                <span class="buddies-subheader">
                  Upcoming Zoom Meeting
                </span>
                <div class="zoom-meeting-container zoom-bottom-space">
                  <span class="contact-info-label">You have an upcoming Study Buddy Meeting at {{ meeting.start_time }} EST.</span>
                </div>
                <div class="zoom-meeting-container">
                  <a href="{{ meeting.meeting_link }}"><button class="btn btn-primary" style="margin-right: 15px;">Join Meeting</button></a>
                  <form method="post" action="{% url 'userAccount:removezoom' %}" id = "zoom">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger" name="meeting_item" value="{{ meeting.pk }}">Cancel Meeting</button>
                  </form>
                </div>
              {% else %}
                <span class="buddies-subheader">
                  Schedule a Zoom Meeting
                  <span data-toggle="tooltip" title="Set a date and time for your meeting using the widget below. All times are in EST.">
                    <img id="info-icon" src="{% static 'userAccount/images/info-circle.svg' %}" class="info-icon"/>
                  </span>
                </span>
                <div class="zoom-datepicker-container">
                  <form method="post" style="width: 100%;" action="{% url 'userAccount:zoom' %}" id = "zoom">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success" name="zoom_item" value="{{ selected_buddy.pk }}">Generate Zoom Link</button>
                  </form>
                </div>
              {% endif %}
              <span class="compare-availability">
                <span
                  class="compare-availability-text"
                  onclick='openModal("{{ user_availability }}", "{{ buddy_availability }}", "{{ selected_buddy.first_name }}", "{{ selected_buddy.last_name }}")'
                  >
                  Compare Availability
                </span>
              </span>
            {% endif %}
          </div>
        {% else %}
          <div class="col-md-6 d-flex align-items-center">
            <span class="no-selection"><i>Select a buddy to view details</i></span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</body>

<!-- Modal -->
<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">
          <!-- Will be filled by openModal() -->
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="availability-sidebar">
              <div class="sidebar-header">
                  View Times When...
              </div>
              <div class="form-check">
                  <input
                      class="form-check-input"
                      type="radio"
                      name="avail_radios"
                      id="combined_avail"
                      value="combined_avail"
                      onclick="availSelector('Both')"
                      checked
                      >
                  <label id="combined-avail-label" class="form-check-label" for="combined_avail">
                    <!-- Will be filled by openModal() -->
                  </label>
              </div>
              <div class="form-check">
                  <input
                      class="form-check-input"
                      type="radio"
                      name="avail_radios"
                      id="their_avail"
                      value="their_avail"
                      onclick="availSelector('Theirs')"
                      >
                  <label id="their-avail-label" class="form-check-label" for="their_avail">
                      <!-- Will be filled by openModal() -->
                  </label>
              </div>
              <div class="form-check">
                  <input
                      class="form-check-input"
                      type="radio"
                      name="avail_radios"
                      id="your_avail"
                      value="your_avail"
                      onclick="availSelector('Yours')"
                      >
                  <label class="form-check-label" for="your_avail">
                      You Are Available
                  </label>
              </div>
          </div>
          <div class="availability-wrapper">
              <div class="availability-header-wrapper">
                  <div id="avail-header" class="availability-header">
                      <!-- Will be filled by openModal() or availSelector() -->
                  </div>
              </div>
              <div class="availability-container">
                  <div class="day-container">
                      {% for time in times %}
                          <div class="time-block"><span>{{ time }}</span></div>
                      {% endfor %}
                  </div>
                  {% for day in days %}
                      <div class="day-container">
                          {% for j in range16 %}
                              <div
                                  id="{{ forloop.parentloop.counter|add:-1|multiply:16|add:j }}"
                                  class="hour-block">
                              </div>
                          {% endfor %}
                          <span class="day-text">{{ day }}</span>
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}