{% extends "login/base.html" %}
{% block content %}
      <br>
      <div class="container">

        <h2>Add a class below</h2>
        <form action="{% url 'userAccount:add_course' %}" id = "course_form" method="post">
            {% csrf_token %}
          <div class="form-group">
            <label for="course_mnemonic">course mnemonic</label>
            <input type="text" class="form-control" id="course_mnemonic" placeholder="MATH" name = "course_mnemonic">
            <label for="course_number">course number</label>
            <input type="text" class="form-control" id="course_number" placeholder="1010" name = "course_number">
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
      <br>

{% endblock %}