.root-container {
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
}

.filter-container {
    width: 30%;
    height: 100%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.filter-header {
    font-size: 3.5em;
    font-family: "Avenir";
    font-weight: 600;
    margin-left: 5px;
}

.filter-subheader {
    font-size: 1.7em;
    font-family: "Avenir";
    font-weight: 600;
    margin-left: 5px;
}

.filter-section {
    background-color: #ededed;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.filter-checkbox-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
    margin-top: 7px;
    padding-bottom: 5px;
}

.course {
    margin-bottom: 5px;
}

.availability-label {
    display: flex;
    align-items: center;
}

.availability-checkbox {
    margin-top: 8px;
}

.availability-input {
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
    text-align: right;
    padding-right: 3px;
}

.separator {
    width: 3px;
    height: 100%;
    background-color: #c9c9c9;
}

.buddy-container {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
    overflow: auto;
}

.buddy-card {
    width: 100%;
    min-height: 250px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: 7px 4px 23px -7px rgba(84,84,84,0.31); 
    box-shadow: 7px 4px 23px -7px rgba(84,84,84,0.31);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden-buddy-card {
    display: none;
}

.buddy-header-container {
    width: 100%;
    padding: 20px;
    padding-right: 35px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buddy-header-text {
    font-size: 1.7em;
    font-family: "Avenir";
    font-weight: 600;
}

.buddy-subheader-text {
    font-weight: 600;
    color: #525252;
}

.buddy-body-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 50px;
}

.buddy-body-text {
    color: #525252;
}

.buddy-course-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
}

.course-chip {
    background-color: #2b496e;
    color: white;
    font-weight: 600;
    font-size: 0.9em;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
    margin-right: 15px;
}

.buddy-footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.availability-link {
    font-weight: 500;
}

.availability-data {
    display: none;
}