.root-container {
    width: 100%;
    height: calc(100vh - 56px);
    min-height: 750px;
    padding: 50px;
    padding-left: calc(20vw - 100px);
    padding-right: calc(20vw - 100px);
    display: flex;
    flex-direction: column;
}

.form-header {
    height: 100px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stepper {
    display: flex;
    align-items: center;
}

.stepper-node {
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-color: rgb(136, 136, 136);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.selected {
    background-color: #007bff;
}

.selected-text {
    color: #007bff !important;
}

.stepper-node-text {
    margin-left: 1px;
}

.stepper-separator {
    width: 240px;
    height: 2px;
    background-color: lightgrey;
    margin-left: 20px;
    margin-right: 20px;
}

.stepper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.stepper-text {
    margin-top: 5px;
    font-size: 15px;
    color: rgb(104, 104, 104);
}

.form-body {
    width: 100%;
    display: flex;
    min-height: 320px;
    padding-top: 20px;
}

.form-body-left {
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-body-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
}

.form-footer {
    padding: 10px;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    justify-content: space-between;
}

.right-side-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.right-side-header-text {
    font-family: "Avenir";
    font-weight: 500;
    font-size: 26px;
    color: rgb(92, 91, 91);
    line-height: 130%;
}

.right-side-body-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 170%;
    color: rgb(107, 107, 107);
    line-height: 170%;
}

.right-side-body {
    margin-top: 15px;
}

.save-button {
    margin-right: 20px;
}

.availability-container {
    display: flex;
    align-items: flex-start;
    cursor: default !important;
    -webkit-user-select: none;
    margin-bottom: 10px;
}

.day-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}

.hour-block {
    width: 50px;
    height: 23px;
    background-color: #e0e0e0;
}

.time-block {
    height: 23px;
    width: 70px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.day-text {
    -webkit-user-select: none !important;
}

.green {
    background-color: #53cf69 !important;
}

.avail-btn {
    width: 100px !important;
}

.invalid-message {
    color: red;
}

.hide {
    display: none;
}