.row {
    margin-top: 30px;
    margin-bottom: 50px;
}

.left-col {
    padding-right: 40px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.right-col {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.buddies-header {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}

.buddies-subheader {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.buddies-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #525252; 
    margin-top: -10px;
    margin-bottom: 20px;
}

.outlined {
    border: 1px solid #4285f4 !important;

}

.courses-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.course-chip {
    background-color: #2b496e;
    color: white;
    font-weight: 600;
    font-size: 0.9em;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.contact-info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.padlock-icon {
    margin-top: 12px;
    height: 25px;
    width: 20px;
    margin-right: 10px;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.contact-info-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-info-label {
    font-weight: 600;
    color: rgb(80, 80, 80);
}

.compare-availability {
    margin-top: 35px;
    font-weight: 500;
    color: #4285f4;
    margin-bottom: 10px;
}

.compare-availability-text {
    cursor: pointer;
}

.buddy-footer {
    margin-top: 35px;
    width: 100%;
    display: flex;
    align-items: center;
}

.button-form {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

form {
    display: inline-block !important;
}

.deny-button {
    margin-left: 15px;
}

.pending-their-approval-text {
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.no-selection {
    width: 100%;
    text-align: center;
}

.chat-header {
    width: 100%;
    margin-top: 15px;
    border: 1px solid rgb(77, 76, 85);
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    color: rgb(77, 76, 85);
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-between;
    transition: border-radius 1s;
    align-items: center;
}

.chat-header-left {
    display: flex;
    align-items: center;
}

.unread-badge {
    background-color: rgb(187, 43, 43);
    height: 25px;
    width: 25px;
    border-radius: 20px;
    color: white;
    font-size: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito';
    font-weight: 700 !important;
    transition: opacity 0.3s;
}

.message-unread-badge {
    opacity: 0;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-header-text {
    -webkit-user-select: none;
}

.chat-wrapper {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.22); 
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.22);
    border-radius: 10px 10px 10px 10px;
}

.chat-header-expanded {
    border-radius: 10px 10px 0 0 !important;
    border-bottom: 1px solid rgb(149, 149, 149);
    transition: border-radius 0s;
}

.chat-icon {
    height: 25px;
    margin-bottom: 5px;
    margin-right: 10px;
    filter: invert(27%) sepia(4%) saturate(1238%) hue-rotate(207deg) brightness(98%) contrast(87%);
    -webkit-user-select: none;
}

.info-icon {
    height: 25px;
    margin-bottom: 5px;
    filter: invert(28%) sepia(93%) saturate(3485%) hue-rotate(203deg) brightness(109%) contrast(107%);
    -webkit-user-select: none;
}

.chat-body {
    border: 1px solid rgb(77, 76, 85);
    border-top: none;
    border-radius: 0 0 10px 10px;
    height: 300px;
    padding: 15px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.from-message-wrapper {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.to-message-wrapper {
    width: 100%;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.from-message {
    max-width: 250px;
    width: fit-content;
    min-height: fit-content;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.to-message {
    max-width: 250px;
    display: inline-block;
    text-align: left !important;
    width: fit-content;
    min-height: fit-content;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.message-field {
    width: 100%;
    min-height: 20%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.message-field-textarea {
    width: 100%;
    resize: none;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid rgb(211, 211, 211);
    min-height: min-content;
    height: min-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none !important;
}

.send-icon {
    width: 26px;
    margin-left: 10px;
    margin-right: 10px;
    filter: invert(31%) sepia(74%) saturate(2360%) hue-rotate(198deg) brightness(99%) contrast(113%);
    cursor: pointer;
}

.zoom-meeting-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.zoom-bottom-space {
    margin-bottom: 20px;
}

.zoom-datepicker-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -7px;
}

/* Modal */
.availability-container {
    display: flex;
    align-items: flex-start;
    cursor: default !important;
    -webkit-user-select: none;
    margin-bottom: 10px;
}

.day-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}

.hour-block {
    width: 45px;
    height: 21px;
    background-color: #e0e0e0;
    transition: background-color 0.5s linear;
}

.time-block {
    height: 21px;
    width: 70px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.day-text {
    -webkit-user-select: none !important;
}

.dark-green {
    background-color: #007e33 !important;
}

.purple {
    background-color: #aa66cc !important;
}

.teal {
    background-color: #2bbbad !important;
}

.availability-wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.availability-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.availability-header {
    font-family: "Nunito";
    font-weight: 600;
    font-size: 20px;
    color: rgb(61, 61, 61);
    margin-bottom: 7px;
    width: 375px;
    margin-right: 40px;
    text-align: center;
}

.sidebar-header {
    font-family: "Nunito";
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 35px;
    width: 100%;
}

.modal-body {
    display: flex;
    align-items: flex-start;
}

.availability-sidebar {
    width: 30%;
    height: 416px;
    padding-left: 10px;
}