.root-container {
    width: 100%;
    height: calc(100vh - 56px);
    padding: 50px;
    padding-left: calc(20vw - 100px);
    padding-right: calc(20vw - 100px);
    display: flex;
    flex-direction: column;
}

.form-header {
    height: 100px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stepper {
    display: flex;
    align-items: center;
}

.stepper-node {
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-color: rgb(136, 136, 136);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.stepper-node-text {
    margin-left: 1px;
}

.stepper-separator {
    width: 240px;
    height: 2px;
    background-color: lightgrey;
    margin-left: 20px;
    margin-right: 20px;
}

.selected {
    background-color: #007bff;
}

.selected-text {
    color: #007bff !important;
}

.stepper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.stepper-text {
    margin-top: 5px;
    font-size: 15px;
    color: rgb(104, 104, 104);
}

.form-header-text {
    font-size: 80px;
    font-family: "Avenir";
    font-weight: 600;
}

.form-body {
    height: 50%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    min-height: 320px;
}

.form-body-left {
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-right: 50px;
}

.form-body-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    padding-right: 30px;
}

.form-footer {
    padding: 10px;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    justify-content: space-between;
}

.right-side-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.right-side-header-text {
    font-family: "Avenir";
    font-weight: 500;
    font-size: 26px;
    color: rgb(92, 91, 91);
    line-height: 130%;
}

.right-side-body {
    margin-top: 15px;
}

.right-side-body-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 170%;
    color: rgb(107, 107, 107);
}

.save-button {
    margin-right: 20px;
}