.root-container {
    width: 100%;
    height: calc(100vh - 56px);
    padding: 50px;
    padding-left: calc(20vw - 100px);
    padding-right: calc(20vw - 100px);
    display: flex;
    flex-direction: column;
}

.form-header {
    height: 100px;;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-header-text {
    font-size: 80px;
    font-family: "Avenir";
    font-weight: 600;
}

.form-body {
    height: 50%;
    width: 100%;
    display: flex;
    min-height: 320px;
}

.form-body-left {
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-top: 70px;
}

.form-body-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
}

.form-footer {
    padding: 10px;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    justify-content: space-between;
}

.right-side-header {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.right-side-header-text {
    font-family: "Avenir";
    font-weight: 500;
    font-size: 30px;
    color: rgb(92, 91, 91);
}

.right-side-header-text-small {
    font-size: 26px !important;
}

.right-side-header-text-xs {
    font-size: 24px !important;
}

.right-side-body {
    margin-top: 10px;
}

.right-side-body-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 170%;
    color: rgb(107, 107, 107);
}

.save-button {
    margin-right: 20px;
}