{% extends "login/base.html" %}
{% block content %}
      <br>
      <div class="container">

        <h1>Send Buddy Request</h1>
        <form action="{% url 'find:view_buddy_request' requestee_username %}" id = "buddy_request" method="post">
            {% csrf_token %}
          <div class="form-group">
            <label for="requestee">Send To:</label>
            <h6 id="requestee">{{requestee_name}}</h6>
            <label for="request_message_input">Message</label>
            <input type="text" class="form-control" id="request_message_input" placeholder="Personalize your request" name = "request_message_input">
          </div>
          <button type="submit" class="btn btn-primary">Send Request</button>
        </form>
      </div>
      <br>
{% endblock %}
