<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="container">
        <div class="row justify-content-center">
            <h1 class="display-3">Available Users</h1>
        </div>
    </div>

    {% if latest_account_list %}
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Major</th>
                <th scope="col">Bio</th>
            </tr>
        </thead>
        {% for user in latest_account_list %}
        <tr>
            <td><a href>{{ user.name }}</a></td>
            <td>{{ user.major }}</td>
            <td>{{ user.bio }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No accounts are available.</p>
    {% endif %}
</head>

<body>