{% extends "login/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'find/find.css' %}">
<script>
    let coursesSelected = [];
    let isSameMajor = false;
    let userMajor = "{{ userAccount.major }}"

    function courseFilterChanged(element) {
        if (element.checked) {
            coursesSelected.push(element.id)
        } else {
            coursesSelected = coursesSelected.filter((item) => item != element.id);
        }
        applyFilters();
    }

    function majorFilterChanged(element) {
        isSameMajor = element.checked;
        applyFilters();
    }

    function applyFilters() {
        const allBuddies = document.getElementsByClassName("buddy-card");
        for (let i = 0; i < allBuddies.length; i++) {
            allBuddies[i].classList.remove("hidden-buddy-card");
            let courses = Array.from(allBuddies[i].getElementsByClassName("course-chip"));
            courses = courses.map((course) => course.id);
            
            let isEnabled = true;
            for (let j = 0; j < coursesSelected.length; j++) {
                if (!courses.includes(coursesSelected[j])) {
                    isEnabled = false;
                }
            }

            let major = Array.from(allBuddies[i].getElementsByClassName("buddy-subheader-text"))[0].id;
            if (isSameMajor && major !== userMajor) {
                isEnabled = false;
            }
            
            if (!isEnabled) {
                allBuddies[i].classList.add("hidden-buddy-card");
            }
        }
    }
</script>
<div class="root-container">
    <div class="filter-container">
        <span class="filter-header">
            Filter
        </span>
        <div class="filter-section">
            <span class="filter-subheader">
                Course
            </span>
            <div class="filter-checkbox-list">
                {% for course in userCourses %}
                    <div class="form-check course">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value="" 
                            id="{{course.mnemonic}} {{course.number}}" 
                            onclick='courseFilterChanged(this)'
                            >
                        <label
                            class="form-check-label filter-course-label"
                            for="{{course.mnemonic}} {{course.number}}"
                            id="{{course.mnemonic}} {{course.number}}"
                            >
                            {{course.mnemonic}}&nbsp;{{course.number}}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="filter-section">
            <span class="filter-subheader">
                Major
            </span>
            <div class="filter-checkbox-list">
                <div class="form-check course">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="major"
                        onclick='majorFilterChanged(this)'
                        >
                    <label
                        class="form-check-label"
                        for="major"
                        >
                        Same Major as Me
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-section">
            <span class="filter-subheader">
                Availability
            </span>
            <div class="filter-checkbox-list">
                <div class="form-check course">
                    <input class="form-check-input availability-checkbox" type="checkbox" value="" id="avail">
                    <label class="form-check-label" for="">
                        <div class="availability-label">
                            <input type="number" class="availability-input" value="50">
                            <span>Percent Match Or Higher</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="buddy-container">
        {% for buddy in filtered_buddy_list %}
        <div id="{{ buddy.user.email }}" class="buddy-card">
            <div class="buddy-header-container">
                <span class="buddy-header-text">{{buddy.firstName}}&nbsp;{{buddy.lastName}}</span>
                <span
                    id="{{ buddy.major }}"
                    class="buddy-subheader-text"
                    >
                    {% if buddy.numBuddies == 1 %}
                        {{buddy.major}} Major&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;{{buddy.numBuddies}} Study Buddy &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;79% Availability Match</span>
                    {% else %}
                        {{buddy.major}} Major&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;{{buddy.numBuddies}} Study Buddies &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;79% Availability Match</span>
                    {% endif %}
            </div>
            <div class="buddy-body-container">
                <span class="buddy-body-text">{{buddy.bio}}</span>
            </div>
            <div class="buddy-course-container">
                {% for course in buddy.courses %}
                    {% if course in userCourses %}
                        <div
                            class="course-chip"
                            id="{{course.mnemonic}} {{course.number}}"
                            >
                            {{course.mnemonic}}&nbsp;{{course.number}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="buddy-footer-container">
                <a href=""><span class="availability-link">Compare Availability</span></a>
                <button type="button" class="btn btn-primary">Send Buddy Request</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}