{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/custom.css' %}">
    <title>Login</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Virtual Study Buddy Login</h1>
    </div>
      <br>

    <div class=login-container>

      {% if user.is_authenticated %}
      <h3>
        Welcome, {{ user.username }}!
      </h3>
      <a href="accounts/logout">
        <button class="btn btn-secondary">
          Logout
        </button>
      </a>

      {% else %}
      <h3>
        Hi, nice to meet you!
      </h3>
      <a href="{% provider_login_url 'google' %}">
        <button class="btn btn-primary">
          Login with Google
        </button>
      </a>
      {% endif %}
    </div>

  </body>
</html>